<a href="https://colab.research.google.com/github/junminghuang/princeton-soc504/blob/main/pandas_sample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Load data from a local file. You'll get a table with rows as authors and columns as author features including career productivity, career impact (c10), gender, country, discipline, etc. This is a random sample of 100,000 authors and therefore the statistics might differ from the original paper.

In [1]:
import pandas
author_info = pandas.read_csv('https://github.com/junminghuang/princeton-soc504/raw/ee66ac7e00241e6ed16faf1751e6f8d75b4da797/sample-project-gender/author_info_sample.csv')
author_info

,author_id,total pub,career length,total c10,gender,annual prod,country,discipline
0,244431,89,29,2176.640283,male,3.075940,DK,Engineering
1,220838,24,16,92.418506,male,1.594177,CA,Life science - Biology
2,1536850,85,30,1064.364339,male,2.915062,IT,Physical science - Space Science or Astronomy
3,2526880,28,12,118.898608,male,2.348346,JP,Health science
4,2239203,20,9,979.238612,male,2.665206,BE,Life science - Biology
...,...,...,...,...,...,...,...,...
99995,3642077,5,13,66.076965,female,0.413457,IT,Life science - Biology
99996,5926815,5,25,26.068731,male,0.208191,IN,Theoretical computer science
99997,4463841,21,12,257.203275,male,1.912902,SE,Health science
99998,649073,13,15,158.766936,female,0.881643,US,Health science
99999,771327,7,14,21.520572,male,0.544892,JP,Physical science - Physics

Count the number of male and female scientists.

In [ ]:
author_info.groupby('gender').size()

Count the average productivity and impact of male and female scientists.

In [ ]:
author_info.groupby('gender').mean()[['total pub', 'total c10', 'career length']]

... and visualize it.

In [ ]:
print(author_info.groupby('gender').mean()[['total pub', 'total c10', 'career length']])
author_info.groupby('gender').mean()['total pub'].plot.bar()

Count the number of male and female scientists in each discipline.

In [ ]:
author_info.groupby(['discipline', 'gender']).size()

Count the productivity by gender and country.

In [ ]:
author_info.groupby(['gender', 'country']).mean()

... and visualize several countries.

In [ ]:
print(author_info.groupby(['gender', 'country']).mean().loc[[('female', 'US'), ('female', 'DE'), ('male', 'US'), ('male', 'DE')], 'total pub'])
author_info.groupby(['gender', 'country']).mean().loc[[('female', 'US'), ('female', 'DE'), ('male', 'US'), ('male', 'DE')], 'total pub'].plot()

Group authors by productivity.

In [ ]:
pandas.qcut(author_info['total pub'], 5)

... and report the productivity and impact in each group

In [ ]:
print(author_info.groupby(pandas.qcut(author_info['total pub'], 5)).mean()[['total pub', 'total c10']])
author_info.groupby(pandas.qcut(author_info['total pub'], 5)).mean()[['total pub', 'total c10']].plot()

Count the gender gap in productivity by discipline.

In [ ]:
author_info['male'==author_info['gender']].groupby('discipline').mean()['total pub'] - author_info['female'==author_info['gender']].groupby('discipline').mean()['total pub']

Align the gender gap in productivity and that in career length by discipline.

In [ ]:
import matplotlib.pyplot as plt
plt.plot([1,2,3],[3,4,4])

In [ ]:
gender_gaps = pandas.concat([
  author_info['male'==author_info['gender']].groupby('discipline').mean()['total pub'] - author_info['female'==author_info['gender']].groupby('discipline').mean()['total pub'],
  author_info['male'==author_info['gender']].groupby('discipline').mean()['career length'] - author_info['female'==author_info['gender']].groupby('discipline').mean()['career length']
], axis=1)
print(gender_gaps)
plt.scatter(gender_gaps['career length'], gender_gaps['total pub'])
sample = gender_gaps.sample(3)
print(sample)
for discipline, (pub, length) in sample.iterrows():
  plt.text(x=length, y=pub, s=discipline)